[report]
# Remove obsolete code, bundled code or code that cannot be tested
#  - private and compat/ stuff are bundled code
#  - convert is mostly run in subprocesses - we need to fix coverage first to
#  that it can be picked up
#  - commands/build_pkg_info and parse are obsolete commands
omit = bento/private/*
       bento/convert/*
       bento/compat/inspect*
       bento/compat/dist.py
       bento/commands/build_pkg_info.py
       bento/commands/parse.py
       bento/conv.py
