include examples/src/*.c
include examples/src/*.h
include examples/src/*.h.in
include examples/src/*.pyx
include examples/conf_example.py
include examples/example.py
include examples/example1.py
include NOTES
